<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Main page</title>
</head>
<body>
    <ul>
        <li><a>Information</a></li>
    </ul>
    <img src="greenfox.png" /><br>
    <p th:utext="'This is ' + ${fox.name} + '. Currently living on ' + ${fox.food} + ' and ' + ${fox.drink} + '. He knows ' + ${fox.getTricks().size()} + ' tricks.'"></p>
    <h1>Known tricks</h1>
    <ul>
        <li th:each="trick : ${fox.getTricks()}" th:text="${trick}">
    </ul>
</body>
</html>