<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Main page</title>
</head>
<body>
    <ul>
        <li><a th:href="'?name=' + ${fox.name}">Information</a></li>
        <li><a th:href="'nutritionStore?name=' + ${fox.name}">Nutrition Store</a></li>
        <li><a th:href="'trickCenter?name=' + ${fox.name}">Trick Center</a></li>
        <li><a th:href="'actionHistory?name=' + ${fox.name}">Action History</a></li>
        <li><a th:href="'messenger/view?name=' + ${fox.name}">Messages</a></li>
        <li><a th:href="'changeLook?name=' + ${fox.name}">Change Look</a></li>
        <li><a th:href="'login'">Log out</a></li>
    </ul>
    <img th:src="${fox.imagePath}" /><br>
    <p th:utext="'This is ' + ${fox.name} + '. Currently living on ' + ${fox.food} + ' and ' + ${fox.drink} + '. He knows ' + ${fox.getTricks().size()} + ' trick(s).'"></p>
    <h1>Known trick(s)</h1>
    <ul>
        <li th:each="trick : ${fox.getTricks()}" th:text="${trick}">
    </ul>
</body>
</html>