<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Login page</title>
</head>
<body>
    <ul>
        <li><a href="index.html">Information</a></li>
        <li><a href="index.html">Nutrition Store</a></li>
        <li><a href="index.html">Trick Center</a></li>
        <li><a href="index.html">Action history</a></li>
    </ul>
    <form action="/nutritionStore" method="post">
        <label for="food">Food</label>
        <select name="food" id="food">
            <option value="Pizza">Pizza</option>
            <option value="Hot Dog">Hot Dog</option>
            <option value="Spaghetti">Spaghetti</option>
            <option value="Hamburger">Hamburger</option>
        </select>
        <label for="drink">Drink</label>
        <select name="drink" id="drink">
            <option value="Coca Cola">Coca Cola</option>
            <option value="Water">Water</option>
            <option value="Red Bull">Red Bull</option>
            <option value="Coffee">Coffee</option>
        </select>
        <input type="submit" value="Change">
    </form>
</body>
</html>