<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Nutrition Store</title>
</head>
<body>
    <ul>
        <li><a th:href="@{'/?name=' + ${fox.name}}">Information</a></li>
        <li><a th:href="@{'/nutritionStore/?name=' + ${fox.name}}">Nutrition Store</a></li>
        <li><a th:href="index.html">Trick Center</a></li>
        <li><a href="index.html">Action history</a></li>
    </ul>
    <form th:action="@{'/nutritionStore?name=' + ${fox.name}}" method="post">
        <label for="food">Food</label>
        <select name="foodName" id="food">
            <option value="pizza">Pizza</option>
            <option value="hot dog">Hot Dog</option>
            <option value="spaghetti">Spaghetti</option>
            <option value="hamburger">Hamburger</option>
        </select>
        <label for="drink">Drink</label>
        <select name="drinkName" id="drink">
            <option value="Coca Cola">Coca Cola</option>
            <option value="water">Water</option>
            <option value="Red Bull">Red Bull</option>
            <option value="coffee">Coffee</option>
        </select>
        <input type="submit" value="Change">
    </form>
</body>
</html>