<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Trick Center</title>
</head>
<body>
    <ul>
        <li><a th:href="@{'/?name=' + ${fox.name}}">Information</a></li>
        <li><a th:href="@{'/nutritionStore/?name=' + ${fox.name}}">Nutrition Store</a></li>
        <li><a th:href="@{'/trickCenter/?name=' + ${fox.name}}">Trick Center</a></li>
        <li><a th:href="@{'/actionHistory/?name=' + ${fox.name}}">Action history</a></li>
    </ul>
    <form th:action="@{'/trickCenter?name=' + ${fox.name}}" method="post">
        <label for="trickName">Tricks</label>
        <select name="trickName" id="trickName">
            <option value="write HTML">write HTML</option>
            <option value="code in Java">code in Java</option>
            <option value="wait for Summer after Spring">wait for Summer after Spring</option>
            <option value="surf on the web">surf on the web</option>
            <option value="hack into BKK">hack into BKK</option>
            <option value="paint Yellow Road to green">paint Yellow Road to green</option>
        </select>
        <input type="submit" value="Learn">
    </form>
</body>
</html>