body {
	margin: 0;
}

img {
	width: 100%
}

article {
	width: 690px;
	margin: auto;
}

h1,
h2 {
	text-align: center
}

h1 {
	color: rgba(0,0,0,.84);
}

h2 {
	color: rgba(0,0,0,.54);
}

a {
	color: rgba(0,0,0,.54);
}

p {
	font-style: italic;
}