/*
Made by Bence Ilcsik
12.09.2018.
*/

/* Imports Google Font */
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Sets the buttons and input fields next to each other */
div {
  float: left;
}

/* Removes fieldset border */
fieldset {
  border: 0;
}

/* Body settings */
body {
  background-color: #DDDDDD;
  text-align: center;
  margin: 30px auto;
  font-family:'Roboto', sans-serif;
  font-weight: 100;
}

/* "text" type input settings */
input[type="text"],
input[type="password"] {
  display: block;
  border: 0;
	border-bottom: 2px solid #DDDDDD;
	width: 100%;
  margin-bottom: 25px;
  margin-left: 5px;
	line-height: 35px;
	font-size: 18px;
  font-weight: 400;
  text-indent: 5px;
}

/* Changes border when input is selected */
input:focus {
	border-bottom: solid 3px #16A085;
  outline: 0;
}

/* Submit button settings */
input[type="submit"] {
  display: block;
  width: 145px;
  height: 40px;
  background-color: #16A085;
  border: 0;
  border-radius: 2px;
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
}

/* Form settings */
form {
  position: relative;
  width: 750px;
  height: 500px;
  border: 0;
  border-radius: 2px;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Button settings */
button {
  border: 0;
  border-radius: 2px;
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  line-height: 45px;
  width: 275px;
}

/* Title settings */
.title {
  margin-bottom: 25px;
  font-size: 36px;
  font-weight: 100;
}

/* Form heading 1 settings */
form h1 {
  font-size: 30px;
}

/* Form heading 2 settings */
form h2 {
  font-size: 20px;
  font-weight: 100;
  margin: 0;
}

/* Circle around OR symbol */
.circle {
  border: 0;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: #DDDDDD;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Changes color for facebook login button */
#facebookLogin {
  background-color: #32508E;
}

/* Changes color for Twitter login button */
#twitterLogin {
  background-color: #55ACEE;
}

/* Changes color for Google+ login button */
#googlePlusLogin {
  background-color: #DD4B39;
}

/* Changes div settings for input fields */
#divInput {
  width: 270px;
  position: absolute;
  top: 15px;
  left: 45px;
}

/* Changes div settings for OR symbol */
#divOr {
  position: absolute;
  top: 225px;
  left: 350px;
}

/* Changes div settings for buttons */
#divButtons {
  position: absolute;
  top: 185px;
  right: 25px;
  width: 300px;
}

/* Changes div settings for submit button */
#divSubmit {
  position: absolute;
  bottom: 50px;
  left: 50px;
}