<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        td, tr {
            border: 1px solid black;
        }
    </style>
    <meta charset="UTF-8" />
    <title>Todo CRUD App</title>
</head>
<body>
<h1>TODOS FOR TODAY:</h1>
<a th:href="@{'/todo/add'}">Add new todo</a>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>ACTION</th>
            <th>DONE</th>
            <th>URGENT</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="todo : ${todos}">
            <td th:text="${todo.id}"></td>
            <td th:text="${todo.title}"></td>
            <td th:text="${todo.done}"></td>
            <td th:text="${todo.urgent}"></td>
            <td><a th:href="@{'/todo/'+${todo.id} + '/delete'}">delete</a></td>
        </tr>
    </tbody>
</table>
</body>
</html>