<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Main page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        body {
            text-align: center;
        }

        h1 {
            font-weight: bold;
            margin: 20px auto;
        }

        p {
            margin: 0px auto;
        }

        textarea {
            margin: 20px auto;
        }
    </style>
</head>
<body>
    <h1>Matrix Checker</h1>
    <p>Check if your matrix is increasing!</p>
    <p>Add a matrix and sit back while the evaluation happens</p>
    <p id="paragraph3">Enter your matrix:</p>
    <form action="/matrix" method="post">
        <textarea name="textArea" placeholder="Type in your matrix here"></textarea><br>
        <input type="submit" value="Submit">
    </form>

    <h2>Result:</h2>
    <p th:text="${isValid} ? 'Matrix is increasing' : 'Matrix is not increasing! Please try again!'" />

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>